#main-container {
    width: 1600px;
    max-width: 100vw;
}

.modal-dialog {
    margin: 40vh auto;
}

.modal-dialog p {
    position: absolute;
    left: 1rem;
}

#main-container p {
    font-size: 18px;
    margin: 0;
}

#main-container p#description {
    margin: 0 15px;
}

.clickable {
    cursor: pointer;
}

div.tooltip i {
    color: yellow;
}

div.tooltip img {
    height: 20px;
    width: 20px;
}

div.tooltip i.fa {
    padding: 0 5px;
}

div.tooltip a {
    color: lightblue;
}

#main-container > div.conversion, div.result {
    margin-bottom: 20px;
}

::placeholder {
    color: darkgray!important;
    opacity: 0.75!important;
    font-style: italic;
}

:-ms-input-placeholder {
    color: darkgray!important;
}

::-ms-input-placeholder {
    color: darkgray!important;
}

.url {
    color:#428bca
}

.activity-indicator {
    width: 1.5em;
    height: 1.5em;
}

table {
    font-size: 15px;
    border-collapse: collapse;
    width: 100%;
}

td.expand, td.action {
    vertical-align: top;
}

td.genomes div {
    overflow: hidden;
}

thead th.name, th.name {
    width: 19px !important;
}

th.action {
    text-align: center;
    width: 150px;
}

td.action div.grid {
    width: fit-content;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 0 15px;
}

td.action div.grid-item {
    margin: auto;
}

td.action span.quickload-copy {
    color: #db6963;
}

table th span {
    margin-right: 15px;
}

table .expand .fa {
    font-size: 20px;
}

table .action .fa {
    font-size: 17px;
    padding: 5px 10px;
}

th.genomes {
    width: 350px;
}

.browser .row {
    position: relative;
}

table a.open-in-igb {
    text-decoration:underline;
    color: blue;
    margin-left: 5px;
}

#filter {
    width: 600px;
    height: 75px;
    padding: 10px;

}

#filter input {
    height: auto;
}

#filter #cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-35px, 0);
    color: gray;
    padding: 10px;
    z-index: 1000;
}

@media all and (max-width: 450px) {
    #filter {
        width: 100vw;
        margin-left: 10px
    ;
    }
}